/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Estilos de Footer */
#main-footer {
  padding: 10px;
  height: 12vh;
  display: block;
  text-align: center;
  font-size: 10px;
  background-color: #02132b; }
  #main-footer div a {
    margin-top: 10px;
    padding: 20px;
    text-decoration: none; }
    #main-footer div a img {
      width: 3rem; }
  #main-footer h4 {
    margin-top: 10px;
    color: whitesmoke;
    font-size: 0.8rem; }

body #encabezado .container, body main #intro-servicio .container, body main #impo .container, body main #expo .container {
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  padding: 10px 20px; }

body main #quienes-somos .container2 {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

/* Estilo del Body */
body {
  background-color: #02132b;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Readex Pro', sans-serif;
  /*Encabezado*/ }
  body header .navbar-ajust .cont-nav {
    width: 50rem;
    display: flex;
    justify-self: space-around;
    flex-wrap: wrap;
    font-size: 1.2rem; }
    body header .navbar-ajust .cont-nav a {
      color: #e2e3e4; }
    body header .navbar-ajust .cont-nav button {
      background-color: #45BCE9; }
    body header .navbar-ajust .cont-nav .collapse .navbar-nav .nav-hover:hover {
      color: #45BCE9; }
  body #encabezado {
    background: url("../img/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center; }
    body #encabezado .container .display-1 {
      text-transform: uppercase;
      padding: 4rem;
      text-align: center;
      color: whitesmoke; }
    body #encabezado .container .large {
      font-size: 1.25rem;
      padding: 2.5px;
      text-align: center;
      color: whitesmoke; }
    body #encabezado .container .btn {
      display: inline-block;
      font-size: 15px;
      padding: 15px 50px;
      cursor: pointer;
      font-weight: bold;
      letter-spacing: 1px;
      border-radius: 30px;
      margin-top: 50px; }
    body #encabezado .container .btn-light {
      background: #45BCE9;
      border: 1px solid #fff;
      color: #fff; }
    body #encabezado .container .btn-light:hover {
      background: #fff;
      border: 1px solid #45BCE9;
      color: #45BCE9; }
  body main #intro-servicio {
    color: #e2e3e4;
    text-align: center;
    background-image: url(../img/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    display: flex; }
    body main #intro-servicio .container {
      background-color: rgba(255, 255, 255, 0.6); }
      body main #intro-servicio .container .display-1 {
        color: #0d0d0e;
        font-size: 3.4rem;
        margin-top: 1rem; }
      body main #intro-servicio .container .large {
        font-size: 1.25rem;
        padding: 2.5px;
        text-align: center;
        color: whitesmoke;
        color: #0d0d0e;
        text-transform: capitalize; }
  body main #quienes-somos {
    margin-top: 2rem;
    color: #e2e3e4;
    background-color: #02132b; }
    body main #quienes-somos .container2 div {
      margin: 20px;
      max-width: 600px;
      overflow: auto;
      padding: 10 20px;
      text-align: justify; }
    body main #quienes-somos .container2 div {
      align-self: center; }
      body main #quienes-somos .container2 div img {
        max-width: 100%; }
  body main #impo, body main #expo {
    padding: 80px 0;
    text-align: center; }
    body main #impo .container .display-1, body main #expo .container .display-1 {
      text-align: center;
      color: #e2e3e4; }
    body main #impo .container .display-1-text, body main #expo .container .display-1-text {
      padding: 20px 0 60px 0;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      color: #e2e3e4; }
    body main #impo .container #carouselExampleDark .carousel-inner .carousel-item .carousel-caption, body main #expo .container #carouselExampleDark .carousel-inner .carousel-item .carousel-caption {
      background-color: rgba(255, 255, 255, 0.6);
      color: #0d0d0e; }
    body main #impo .container .webdev-row, body main #expo .container .webdev-row {
      display: flex;
      grid-gap: 2rem;
      margin-bottom: 20px;
      margin-top: 1rem;
      justify-content: center; }
      body main #impo .container .webdev-row .webdev-box, body main #expo .container .webdev-row .webdev-box {
        padding: 40px;
        background: #fff;
        width: 34rem; }
        body main #impo .container .webdev-row .webdev-box hr, body main #expo .container .webdev-row .webdev-box hr {
          background-color: #45BCE9;
          height: 5px;
          border: none;
          width: 20%; }
  body main #showcase-logi {
    padding: 80px 0; }
    body main #showcase-logi .container .showcase-flex-logi {
      display: flex; }
      body main #showcase-logi .container .showcase-flex-logi .display-1 {
        text-transform: uppercase;
        padding: 4rem;
        text-align: center;
        color: whitesmoke;
        text-transform: uppercase; }
      body main #showcase-logi .container .showcase-flex-logi p {
        align-self: center;
        color: #e2e3e4;
        text-align: justify; }
  body main #logis {
    padding: 80px 0; }
    body main #logis .container .wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px; }
      body main #logis .container .wrapper .box-1 {
        padding: 20px;
        grid-column: 1/2;
        grid-row: 1/3;
        padding: 40px; }
        body main #logis .container .wrapper .box-1 .display-3 {
          font-size: 2.5rem; }
      body main #logis .container .wrapper .bk-azulfuerte {
        background: whitesmoke;
        color: #0d0d0e; }
      body main #logis .container .wrapper .box-2 {
        padding: 20px;
        grid-column: 2/6;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        body main #logis .container .wrapper .box-2 .display-3 {
          font-size: 2.5rem; }
        body main #logis .container .wrapper .box-2 img {
          max-width: 100%; }
      body main #logis .container .wrapper .bk-celeste {
        background: #2096cc;
        color: #fff; }
      body main #logis .container .wrapper .box-3 {
        padding: 20px;
        grid-column: 1/4;
        grid-row: 3/4; }
        body main #logis .container .wrapper .box-3 .display-3 {
          font-size: 2.5rem; }
      body main #logis .container .wrapper .bk-marron {
        background: tomato; }
      body main #logis .container .wrapper .box-4 {
        padding: 20px;
        grid-column: 4/6;
        grid-row: 3/4; }
        body main #logis .container .wrapper .box-4 .display-3 {
          font-size: 2.5rem; }
      body main #logis .container .wrapper .bk-green {
        background: teal;
        color: #fff; }
  body main #contact {
    padding-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #e2e3e4; }
    body main #contact .container form {
      width: 40%;
      margin: 0 auto;
      text-align: left; }
      body main #contact .container form .form-group {
        margin-bottom: 1rem; }
        body main #contact .container form .form-group label {
          display: inline-block;
          margin-bottom: 0.5rem; }
        body main #contact .container form .form-group .form-control {
          display: block;
          width: 100%;
          padding: 0.375rem 0.7rem;
          font-size: 1rem;
          line-height: 1.5;
          color: #000;
          background-color: #F2F3F6;
          background-clip: padding-box;
          border: 1px solid #F2F3F6;
          border-radius: 0.25rem; }
      body main #contact .container form .btn {
        display: inline-block;
        font-size: 15px;
        padding: 15px 50px;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 30px;
        margin-top: 50px; }
      body main #contact .container form .btn-light {
        background: #45BCE9;
        border: 1px solid #fff;
        color: #fff; }
      body main #contact .container form .btn-light:hover {
        background: #fff;
        border: 1px solid #45BCE9;
        color: #45BCE9; }

/*Media Qry para tablets */
@media (max-width: 768px) {
  body header .navbar .cont-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem; }
  body header .navbar a {
    padding-top: 10px; }
  body header button {
    background-color: #45BCE9; }
  body #encabezado {
    background: url("../img/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center; }
    body #encabezado .container .display-1 {
      text-align: center;
      padding: 5px;
      padding-top: 4px;
      font-size: 2.2rem; }
    body #encabezado .container p {
      padding: 5px; }
  body main #intro-servicio .container .large {
    font-size: 1rem; }
  body main #impo {
    padding: 40px 0; }
    body main #impo .webdev-row {
      flex-wrap: wrap; }
      body main #impo .webdev-row #carouselExampleDark .carousel-inner .carousel-item img {
        size-adjust: 100px; }
  body main #expo {
    padding: 40px 0; }
    body main #expo .webdev-row {
      flex-wrap: wrap; }
  body main #showcase-logi {
    padding: 30px 0;
    text-align: center; }
    body main #showcase-logi .container .showcase-flex-logi {
      flex-direction: column; }
  body main #contact .container {
    height: 100%;
    padding: 50px 20px 50px 20px; }
    body main #contact .container h1 {
      padding-bottom: 3rem; }
    body main #contact .container form {
      width: 80%;
      padding-bottom: 2.5rem; } }

@media (max-width: 576px) {
  body header .navbar .cont-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem; }
  body header .navbar a {
    padding-top: 10px; }
  body header button {
    background-color: #45BCE9; }
  body #encabezado {
    background: url("../img/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center; }
    body #encabezado .container .display-1 {
      text-align: center;
      padding: 5px;
      padding-top: 4px;
      font-size: 2.2rem; }
    body #encabezado .container p {
      padding: 5px; }
  body main #intro-servicio .container .large {
    font-size: 1rem; }
  body main #impo {
    padding: 40px 0; }
    body main #impo .webdev-row {
      flex-wrap: wrap; }
      body main #impo .webdev-row #carouselExampleDark .carousel-inner .carousel-item img {
        size-adjust: 100px; }
  body main #expo {
    padding: 40px 0; }
    body main #expo .webdev-row {
      flex-wrap: wrap; }
  body main #showcase-logi {
    padding: 30px 0;
    text-align: center; }
    body main #showcase-logi .container .showcase-flex-logi {
      flex-direction: column; }
  body main #logis {
    padding: 30px 0; }
    body main #logis .container .wrapper {
      grid-template-columns: repeat(1, 1fr); }
      body main #logis .container .wrapper .box-1, body main #logis .container .wrapper .box-2, body main #logis .container .wrapper .box-3, body main #logis .container .wrapper .box-4 {
        grid-column: 1; }
      body main #logis .container .wrapper .box-1 {
        grid-row: 1; }
      body main #logis .container .wrapper .box-2 {
        grid-row: 2; }
      body main #logis .container .wrapper .box-3 {
        grid-row: 3; }
      body main #logis .container .wrapper .box-4 {
        grid-row: 4; }
  body main #contact {
    height: 100%;
    padding: 50px 20px 50px 20px; }
    body main #contact .container h1 {
      padding-bottom: 3rem; }
    body main #contact .container form {
      width: 100%;
      padding-bottom: 2.5rem; } }

/*Media Qry para tablets */
@media (max-width: 991px) {
  body header .navbar .cont-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem; }
  body header .navbar a {
    padding-top: 10px; }
  body header button {
    background-color: #45BCE9; }
  body main #showcase-logi {
    padding: 30px 0;
    text-align: center; }
    body main #showcase-logi .container .showcase-flex-logi {
      flex-direction: column; }
  body main #contact .container {
    height: 100%;
    padding: 50px 20px 50px 20px; }
    body main #contact .container h1 {
      padding-bottom: 3rem; }
    body main #contact .container form {
      width: 80%;
      padding-bottom: 2.5rem; } }
