@media  (max-width: 576px){

    body{
        header{
            .navbar{
                .cont-nav{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    font-size: 1.2rem;
                }
                a{
                    padding-top: 10px;
                }
            }
            button{
                background-color: #45BCE9
            }
        }
        #encabezado{
            background: url('../img/3.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            text-align: center;
            .container{
                .display-1{
                    text-align: center;
                    padding: 5px;
                    padding-top: 4px;
                    font-size: 2.2rem;
                }
                p{
                    padding: 5px;
                }
            }
        }
        main{
            #intro-servicio{
                .container{
                    .large{
                        font-size: 1rem;
                    }
                }
            }
            #impo{
                padding: 40px 0;
                .webdev-row {
                    flex-wrap: wrap;
                    #carouselExampleDark{
                        .carousel-inner{
                            .carousel-item{
                                img{
                                    size-adjust: 100px
                                };
                                
                            }
                        }
                    }

                }
            }
            #expo{
                padding: 40px 0;
                .webdev-row {
                    flex-wrap: wrap;
                }
            }
            #showcase-logi{
                padding: 30px 0;
                text-align: center;
                .container{
                    .showcase-flex-logi {
                        flex-direction: column;
                    }
                }
            }
            #logis{
                padding: 30px 0;
                .container{
                    .wrapper{
                        grid-template-columns: repeat(1, 1fr);
                        .box-1, .box-2, .box-3, .box-4 {
                            grid-column: 1;
                        }
                        .box-1 {
                            grid-row: 1;
                        }
                        .box-2 {
                            grid-row: 2;
                        }
                        .box-3 {
                            grid-row: 3;
                        }
                        .box-4 {
                            grid-row: 4;
                        }
                    }
                        
                }
            }

            #contact{
                height: 100%;
                padding: 50px 20px 50px 20px;
                .container{
                    h1{
                        padding-bottom: 3rem;
                    }
                    form {
                        width: 100%;
                        padding-bottom: 2.5rem;
                    }
                }
            }
        }
    }   
}
