/*Media Qry para tablets */
  
@media  (max-width: 991px){

    body{
        header{
            .navbar{
                .cont-nav{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    font-size: 1.2rem;
                }
                a{
                    padding-top: 10px;
                }
            }
            button{
                background-color: #45BCE9
            }
        }
        
        main{
           
       
            #showcase-logi{
                padding: 30px 0;
                text-align: center;
                .container{
                    .showcase-flex-logi {
                        flex-direction: column;
                    }
                }
            }
           
            #contact{
                
                .container{
                    height: 100%;
                    padding: 50px 20px 50px 20px;
                    h1{
                        padding-bottom: 3rem;
                    }
                    form {
                        width: 80%;
                        padding-bottom: 2.5rem;
                    }
                }
            }
        }
    }   
}
