@mixin btn {
    display: inline-block;
    font-size: 15px;
    padding: 15px 50px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 30px;
    margin-top: 50px;
}

@mixin btn-light {
    background: #45BCE9;
    border: 1px solid #fff;
    color: #fff;
}

@mixin btn-light-hover {
    background: #fff;
    border: 1px solid #45BCE9;
    color: #45BCE9;
  }

@mixin display-1 {
    
    text-transform: uppercase;
    padding:4rem;
    text-align: center;
    color: whitesmoke;
}

@mixin large {
    font-size: 1.25rem; 
    padding: 2.5px;
    text-align: center;
    color: whitesmoke;
    
}


@mixin webdev-row {
    display: flex;
    grid-gap: 2rem;
    margin-bottom: 20px;
    margin-top: 1rem;
}

@mixin webdev-box {
    padding: 40px;
    background: #fff;
    width: 34rem;
}

@mixin hr {
    background-color: #45BCE9;
    height: 5px;
    border: none;
    width: 20%;
}